@import url(variable.css);

/* Webinars */
.webinars-grid {
  display: grid;
  grid-template-columns: 1.15fr .85fr;
  /* grid-template-rows: 1.15fr .85fr; */
  gap: 48px;
  align-items: start;
  max-width: 1000px;
  margin: 0 auto;
}

.webinar-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 8px;
}

.webinar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22px;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 14px;
  transition: all .25s;
  gap: 16px;
}

.webinar-item:hover {
  transform: translateX(4px);
  border-color: #3b82f6;
  box-shadow: var(--shadow);
}

.webinar-info h4 {
  font-weight: 650;
  margin-bottom: 4px;
  font-size: 1.02rem;
}

.webinar-info p {
  font-size: .9rem;
  color: var(--text-muted);
}

.conference-card {
  padding: 32px;
  border-radius: 22px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  position: sticky;
  top: 100px;
  margin-top: 20px;
}

.conference-card h3 {
  font-size: 1.55rem;
  margin-bottom: 10px;
  letter-spacing: -0.01em;
}

.conference-card .date {
  display: inline-block;
  padding: 6px 12px;
  background: var(--blue);
  color: white;
  border-radius: 8px;
  font-weight: 650;
  margin-bottom: 16px;
  font-size: 0.85rem;
  box-shadow: 0 4px 12px rgba(111, 136, 249, 0.092);
}

.conference-features {
  list-style: none;
  margin: 20px 0 24px;
  display: grid;
  gap: 10px;
  color: var(--text-muted);
  font-size: 0.95rem;
}

.btn-reserve {
  width: 100%;
}
